{% extends 'products/base.html'%} 
{% block content%}
<section>
  <h2>ALL RECEIPTS</h2>
  {% for sale in sales %}
  <div class="card">
    <h3>Customer: {{sale.issued_to | title}}</h3>
    <p>Item: {{sale.item}}</p>
    <p>Amount Paid: Rs. {{ sale.amount_received }}</p>
    <p>Quantity: {{sale.quantity }}</p>
    <h4>Total Price: Rs. {{ sale.get_total }}</h4>
    <p>Change Collected: Rs. {{ sale.get_change }}</p>
    <p><strong>Date:</strong> {{ sale.date_created|date:"F j, Y, g:i a" }}</p>
    <a href="{% url 'pharmacy:receipt_print' sale.id %}" target="_blank" class="print-link">Print</a>
  </div>
  {% empty %}
  <div class="card">
    <p>No sales records found.</p>
  </div>
  {% endfor %}
</section>
{% endblock %} 