{% extends 'products/base.html'%} 
{% block content%}
<section>
  <h2>ALL RECEIPTS</h2>
  {% for sale in sales %}
  <div class="card">
    <h3>Customer: {{sale.issued_to | title}}</h3>
    <p>Item: {{sale.item}}</p>
    <p>Amount Paid: ₦{{ sale.amount_received }}</p>
    <p>Quantity: {{sale.quantity }}</p>
    <h4>Total Price: ₦{{ sale.get_total }}</h4>
    <p>Change Collected: ₦{{ sale.get_change }}</p>
    <a href="{% url 'receipt_detail' sale.id %}" class="btn-placeholder">
      Final Receipt
    </a>
  </div>
  {% endfor %}
</section>
{% endblock %} 